<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- write to file -->
		<target name="applog" xsi:type="File"
        fileName="..\..\..\logs\logs-${shortdate}.log"
        layout="${longdate} - ${level:uppercase=true} - ${message:withexception=true}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs including Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="applog" />
	</rules>
</nlog>